<div class="order">
  <div class="order-number">
    <%= order.number %>
  </div>
  <div class="receiver-name">
    <%= order.address.name %>
  </div>
  <div class="receiver-cellphone">
    <%= order.address.cellphone %>
  </div>
  <div class="receiver-address">
    <%= order.address.address %>
  </div>
  <div class="created-time">
    <%= render_create_time(order) %>
  </div>
  <div class="status">
    <%= render_order_status(order) %>
  </div>
</div>
