<% case order.aasm_state %>
<% when "placed"%>
  <%= link_to("PAY", pay_account_order_path(order.number), class: "btn btn-danger #{size}") %>
  <%= link_to("CANCEL", cancel_account_order_path(order.number), method: :post, class: "btn btn-white #{size}") %>
<% when "paid" %>
  <%= link_to("CANCEL", apply_for_cancel_account_order_path(order.number), method: :post, class: "btn btn-white #{size}") %>
<% when "applying_for_cancel" %>
  <span class="btn btn-info disabled <%= size %>">PENDING</span>
<% when "shipping" %>
  <%= link_to("RECEIPT", confirm_receipt_account_order_path(order.number), method: :post, class: "btn btn-warning #{size}") %>
<% when "shipped" %>
  <%= link_to("RETURN", apply_for_return_account_order_path(order.number), method: :post, class: "btn btn-white #{size}") %>
<% when "applying_for_return" %>
  <span class="btn btn-warning disabled <%= size %>">RETURNING</span>
<% when "cancelled" %>
  <span class="btn btn-defalut disabled <%= size %>">CANCELLED</span>
<% when "returned" %>
  <span class="btn btn-defalut disabled <%= size %>">RETURNED</span>
<% end %>
