<div class="my-content account-orders">
  <div class="container">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">
        订单详情
        <br/>
        <small>
          <%= @order.number %>
        </small>
      </h4>
      <div class="card-content">
        <h4>
          收货信息
          <br/>
          <small>
            <table class="table">
              <tr>
                <td><%= @order.name %></td>
                <td><%= @order.cellphone %></td>
                <td width="60%"><%= @order.address %></td>
              </tr>
            </table>
          </small>
        </h4>
        <hr/>
        <h4>
          支付信息
          <br/>
          <small>
            <table class="table">
              <tr>
                <td>实付金额：<span class="text-danger">￥<%= render_price(@order.total_price) %></span></td>
                <td>支付方式：<%= render_payment_method(@order) %></td>
              </tr>
            </table>
          </small>
        </h4>
        <hr/>
        <div class="table-responsive">
          <table class="table table-shopping">
            <thead>
              <tr>
                <th class="text-center"></th>
                <th width="25%">Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Qty</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @order_details.each do |detail| %>
              <tr>
                <td>
                  <div class="img-container">
                    <%= render_product_image_thumb(detail) %>
                  </div>
                </td>
                <td class="td-name">
                  <%= detail.title %>
                  <br/>
                  <small><%= render_product_description(detail) %></small>
                </td>
                <td class="td-number text-right">
                  <small>￥</small>
                  <%= render_price(detail.price) %>
                </td>
                <td class="td-number quantity">
                  x<%= detail.quantity %>
                </td>
                <td class="td-number">
                  <small>￥</small>
                  <%= render_price(detail.quantity * detail.price) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <span class="pull-right">
            <%= link_to account_orders_path, class: "btn btn-white" do %>
              <i class="material-icons">keyboard_arrow_left</i>BACK
            <% end %>
            <%= render "state_option", order: @order, size: "" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
