<div class="my-content account-orders">
  <div class="container">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">
        订单详情
        <br/>
        <small>
          <%= @order.number %>
        </small>
      </h4>
      <div class="card-content">
        <div class="table-responsive">
          <table class="table table-shopping">
            <thead>
              <tr>
                <th class="text-center"></th>
                <th width="25%">Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Qty</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @order_details.each do |detail| %>
              <tr>
                <td>
                  <%= render_product_image(detail, "img-container") %>
                </td>
                <td class="td-name">
                  <%= detail.title %>
                  <br/>
                  <small><%= render_text(detail.description) %></small>
                </td>
                <td class="td-number text-right">
                  <small>￥</small>
                  <%= render_price(detail.price) %>
                </td>
                <td class="td-number quantity">
                  x<%= detail.quantity %>
                </td>
                <td class="td-number">
                  <small>￥</small>
                  <%= render_price(detail.quantity * detail.price) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <span class="pull-right">
            <%= link_to account_orders_path, class: "btn btn-white" do %>
            <i class="material-icons">keyboard_arrow_left</i>BACK
            <% end %>
            <%= render partial: "state_option", locals: {order: @order, size: ""} %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
