<div class="my-content-raised main">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="page-header">
        <h3><%= title %></h3>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= simple_form_for [:account, @address] do |f| %>
            <div class="form-inputs">
              <%= f.input :label, label: "标签", placeholder: "如：公司、家" %>
              <%= f.input :name, label: "收货人" %>
              <%= f.input :cellphone, label: "手机号" %>
              <%= f.input :address, label: "详细地址" %>
            </div>
            <div class="form-actions">
              <%= f.submit "保存", data: {disable_with: "正在保存..."}, class: "btn btn-raised btn-white" %>
              <%= f.submit "保存并设为默认", data: {disable_with: "正在保存..."}, class: "btn btn-raised btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
