<div class="my-content-raised main admin-order-details">
  <div class="container-fluid">
    <div class="page-header">
      <h3>
        订单明细
        <small><%= render_order_status(@order) %></small>
        <span class="pull-right"><%= render "state_option", order: @order, size: "" %></span>
      </h3>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          收货信息
          <br/>
          <small>
            <table class="table">
              <tr>
                <td><%= @order.name %></td>
                <td><%= @order.cellphone %></td>
                <td width="60%"><%= @order.address %></td>
              </tr>
            </table>
          </small>
        </h4>
        <hr/>
        <h4>
          支付信息
          <br/>
          <small>
            <table class="table">
              <tr>
                <td>实付金额：<span class="text-danger">￥<%= render_price(@order.total_price) %></span></td>
                <td>支付方式：<%= render_payment_method(@order) %></td>
              </tr>
            </table>
          </small>
        </h4>
        <hr/>
        <table class="table table-shopping">
          <thead>
            <tr>
              <th>#</th>
              <th>名称</th>
              <th>描述</th>
              <th class="text-right">单价</th>
              <th class="text-right">名额</th>
              <th class="text-right">小计</th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each_with_index do |order_detail, index| %>
              <tr class="order-detail">
                <td><%= index + 1 %></td>
                <td><%= order_detail.title %></td>
                <td><%= render_product_description(order_detail) %></td>
                <td class="td-number">
                  ￥<%= render_price(order_detail.price) %>
                </td>
                <td class="text-right">
                  <%= order_detail.quantity %>
                </td>
                <td class="td-number text-danger">
                  ￥<%= render_price(order_detail.quantity * order_detail.price) %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td class="text-right" colspan="6">
                <%= link_to :back, class: "btn btn-white" do %>
                  <i class="material-icons">keyboard_arrow_left</i>BACK
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
