<div class="my-content-raised main admin-order-details">
  <div class="container-fluid">
    <div class="page-header">
      <h3>
        订单明细
        <small><%= render_order_status(@order) %></small>
        <span class="pull-right"><%= render "state_option", order: @order, size: "" %></span>
      </h3>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-shopping">
          <thead>
            <tr>
              <th>#</th>
              <th>名称</th>
              <th>描述</th>
              <th class="text-right">单价</th>
              <th class="text-right">数量</th>
              <th class="text-right">小计</th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each_with_index do |order_detail, index| %>
              <tr class="order-detail">
                <td><%= index + 1 %></td>
                <td><%= order_detail.title %></td>
                <td><%= render_text(order_detail.description) %></td>
                <td class="td-number">
                  ￥<%= render_price(order_detail.price) %>
                </td>
                <td>
                  <%= order_detail.quantity %>
                </td>
                <td class="td-number text-danger">
                  ￥<%= render_price(order_detail.quantity * order_detail.price) %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="3">
                <h4 class="text-danger">
                  <small>合计：</small>
                  ￥<%= @order.total_price %>
                </h4>
              </td>
              <td class="text-right" colspan="3">
                <%= link_to :back, class: "btn btn-white" do %>
                  <i class="material-icons">keyboard_arrow_left</i>BACK
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
