<div class="panel panel-default account-receiving-infos">
  <div class="panel-heading">
    <h4>收货信息
      <%= link_to fa_icon("plus", text: "新增"), new_account_receiving_info_path, class: "btn btn-default pull-right" %>
    </h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>收货人</th>
        <th>手机号</th>
        <th>详细地址</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @receiving_infos.each_with_index do |receiving_info, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= receiving_info.name %></td>
          <td><%= receiving_info.cellphone %></td>
          <td><%= receiving_info.address %></td>
          <td>
            <%= link_to '编辑', edit_account_receiving_info_path(user), class: "btn btn-default btn-sm" %>
            <%= link_to '删除', account_receiving_info_path(user),class: "btn btn-danger btn-sm",
            method: :delete, data: { confirm: "您确定删除#{receiving_info.name}这条收货信息吗？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
