<tr>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="item_ids[]" value="<%= item.id %>" id="cart-item-select-<%= index %>"/>
      </label>
    </div>
  </td>
  <td>
    <%= link_to product_path(item.product), class: "img-container" do %>
      <%= render_product_image_medium(item.product) %>
    <% end %>
  </td>
  <td class="td-name">
    <%= link_to(item.product.title, product_path(item.product)) %>
    <br/>
    <small><%= render_text(item.product.description) %></small>
  </td>
  <td class="td-number text-right">
    <small>￥</small>
    <%= render_price(item.product.price) %>
  </td>
  <td class="td-number quantity">
    <input type="text" name="quantities[]" value="<%= item.quantity == 0 ? '已报满' : item.quantity %>" id="quantity-input-<%= index %>" class="quantity-input" disabled>
    <div class="btn-group">
      <%= link_to decrease_cart_item_path(item, index: index), method: :post, remote: true,
      id: "quantity-minus-#{index}", disabled: (item.quantity <= 1), class: "btn btn-round btn-info btn-xs quantity-minus #{item.quantity <= 1 ? 'disabled' : ''}" do %>
        <i class="material-icons">remove</i>
      <% end %>
      <%= link_to increase_cart_item_path(item, index: index), method: :post, remote: true,
      id: "quantity-plus-#{index}", disabeld: (item.product.quantity <= 0), class: "btn btn-round btn-info btn-xs quantity-plus #{item.product.quantity <= 0 ? 'disabled' : ''}" do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  </td>
  <td class="td-number">
    <small>￥</small>
    <span id="cart-item-subtotal-<%= index %>">
      <%= render_price(item.quantity * item.product.price) %>
    </span>
  </td>
  <td class="td-actions text-center">
    <button type="button" rel="tooltip" title="Remove item" class="btn btn-simple"
    data-toggle="modal" data-target="#confirm-dialog" onclick='confirmRemoveCartItem("<%= item.id %>", "确认将课程 <%= item.product.title %> 移出购物车吗？")'>
      <i class="material-icons">close</i>
    </button>
    <%= f.button '删除', type: :submit, name: "delete_item", value: item.id, class: "invisible", id: "cart-btn-delete-#{item.id}" %>
  </td>
</tr>
