<%= form_for current_cart, url: operations_cart_path(current_cart), method: :post, remote: true do |f|%>
  <input type="hidden" value="<%= current_cart.cart_items_count %>" id="cart-items-count">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox" class="cart-select-all"/>
              全选
            </th>
            <th>图片</th>
            <th>名称</th>
            <th>描述</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each_with_index do |item, index| %>
            <%= render partial: "cart_item", locals: { f: f, item: item, index: index } %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <p>
        <input type="checkbox" class="cart-select-all"/><b>全选</b>
        已选择<b id="items-count">0</b>件商品
        <%= f.button "删除选中的商品", type: :submit, value: true, name: "delete_items", class: "btn btn-raised btn-white btn-sm" %>
        <span class="total-price">
          总价：
          <span class="text-danger">¥</span>
          <span class="text-danger" id="total-price">
            <%= render_price(0) %>
          </span>
        </span>
      </p>
    </div>
  </div>
  <div class="pull-right">
    <%= f.button type: :submit, name: "checkout", value: true, class: "btn-checkout btn btn-raised btn-danger" do %>
      <%= fa_icon("credit-card", text: "去结算") %>
    <% end %>
  </div>
<% end %>
