<div class="my-content checkout">
  <div class="container">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="blue">
        <i class="material-icons">monetization_on</i>
      </div>
      <h4 class="card-title">
        结算
        <br/>
        <small>
          填写并核对订单信息
        </small>
      </h4>
      <%= form_for [:account, @order] do |f| %>
        <div class="card-content">
          <div class="page-header">
            <h4>收货信息</h4>
          </div>
          <div class="addresses" id="checkout-addresses">
            <%= render "checkout_addresses" %>
          </div>
          <div class="payment-method">
            <div class="page-header">
              <h4>付款信息</h4>
            </div>
            <input type="hidden" name="payment_method" value="none" id="payment-method"/>
            <%= link_to("微信支付", "javascript:;", class: "wechat btn btn-raised btn-white") %>
            <%= link_to("支付宝", "javascript:;", class: "alipay btn btn-raised btn-white") %>
            <hr/>
          </div>
          <div class="details">
            <div class="page-header">
              <h4>购物清单
                <small>共购买
                  <b class="text-danger"><%= @items.count %></b>
                  门课程</small>
              </h4>
            </div>
            <div class="table-responsive">
              <table class="table table-shopping">
                <thead>
                  <tr>
                    <th class="text-center"></th>
                    <th width="25%">Product</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% @items.each do |item| %>
                    <input type="hidden" name="items[]" value="<%= item.id %>">
                    <tr>
                      <td>
                        <div class="img-container img-rounded img-raised">
                          <%= render_product_image_thumb(item.product) %>
                        </div>
                      </td>
                      <td class="td-name">
                        <%= item.product.title %>
                        <br/>
                        <small><%= render_product_description(item.product) %></small>
                      </td>
                      <td class="td-number text-right">
                        <small>￥</small>
                        <%= render_price(item.product.price) %>
                      </td>
                      <td class="td-number quantity">
                        x<%= item.quantity %>
                      </td>
                      <td class="td-number">
                        <small>￥</small>
                        <%= render_price(item.quantity * item.product.price) %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="4" class="td-number">
                      <h4 class="text-danger">
                        <small>合计：</small>
                        ￥<%= calculate_total_price(@items) %>
                      </h4>
                    </td>
                    <td class="td-number">
                      <%= f.button "提交订单", type: :submit, class: "btn btn-raised btn-danger btn-round" %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
