<div class="main my-content">
  <div class="section section-full-screen section-signup">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="card card-signup">
            <div class="header header-info text-center ">
              <h4>登录</h4>
              <div class="social-line">
                <a href="#pablo" class="btn btn-simple btn-just-icon">
                  <i class="fa fa-weixin"></i>
                </a>
                <a href="#pablo" class="btn btn-simple btn-just-icon">
                  <i class="fa fa-weibo"></i>
                </a>
                <a href="#pablo" class="btn btn-simple btn-just-icon">
                  <i class="fa fa-github"></i>
                </a>
              </div>
            </div>
            <p class="text-divider">邮箱登录</p>
            <div class="content">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">email</i>
                  </span>
                  <%= f.input :email, label: false, placeholder: "E-mail", required: true, autofocus: true, class: "form-control" %>
                </div>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                  </span>
                  <%= f.input :password, label: false, placeholder: "登录密码", required: true, class: "form-control" %>
                </div>

                <div class="input-group">
                  <%= f.input :remember_me, label: false, inline_label: "记住我", as: :boolean if devise_mapping.rememberable? %>
                </div>

                <div class="footer text-center">
                  <%= f.submit "登录", data: { disable_with: "登录中..." }, class: "btn btn-round btn-info"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
