<div class="my-content-raised main admin-categories">
  <div class="container-fluid">
    <div class="page-header">
      <h3>课程分类
        <%= link_to fa_icon("plus", text: "新增"), new_admin_category_path, class: "btn btn-raised btn-success pull-right" %>
      </h3>
    </div>
    <div class="panel panel-default">
      <table class="table table-shopping">
        <thead>
          <tr>
            <th>#</th>
            <th width="60%">名称</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each_with_index do |category, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= category.name %></td>
            <td>
              <%= link_to fa_icon("edit"), edit_admin_category_path(category), rel: "tooltip", title: "编辑", class: "btn btn-raised btn-white btn-sm" %>
              <%= render "common/delete_btn", path: admin_category_path(category), message: "确认删除“#{category.name}”这个分类吗？分类下的所有课程将被一同删除！" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render "common/delete_confirm" %>
