<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title, label: "名称", autofocus: true %>
  <%= f.input :description, label: "描述" %>
  <%= f.input :catalog, label: "目录" %>
  <%= f.input :price, label: "价格" %>
  <%= f.input :quantity, label: "名额" %>
  <%= f.input :category_id, label: "分类", required: true, as: :select, collection: @categories %>
  <%= f.input :image, label: "图片"%>
  <!-- 图片预览 -->
  <div class="form-group">
      <%= render_product_image_thumb(@product) %>
  </div>
  <%= link_to("取消", :back, class: "btn btn-raised btn-white") %>
  <%= f.submit "保存", data: {disable_with: "正在保存..."}, class: "btn btn-raised btn-success" %>
<% end %>
