<div class="col-md-6 col-lg-4">
  <div class="card card-blog card-atv">
    <div class="card-image">
      <%= link_to product_path(product) do %>
        <div class="atvImg">
          <%= render_product_image_medium(product) %>
        </div>
      <% end %>
    </div>

    <div class="card-content">
      <span class="label label-info"><%= product.category.name %></span>
      <h4 class="card-title">
        <%= link_to product.title, product_path(product) %>
      </h4>
      <p class="card-description">
        <%= render_product_description(product) %>
      </p>
      <div class="footer">
        <div class="author">
          <a href="#pablo">
            <img src="http://ooz9ucbbf.bkt.clouddn.com/%E6%88%91%EF%BC%88%E6%AD%A3%E6%96%B9%E5%BD%A2%EF%BC%892.jpg" alt="千古流传" class="avatar img-raised">
            <span>千古流传</span>
          </a>
        </div>
        <div class="price">
          <small>￥</small>
          <%= render_price(product.price) %>
        </div>
      </div>
    </div>
  </div>
</div>
