<div class="col-md-6 col-lg-4">
  <div class="card card-blog card-atv">
    <div class="card-image">
      <%= link_to product_path(product) do %>
        <div class="atvImg">
          <%= render_product_image_medium(product) %>
        </div>
      <% end %>
    </div>

    <div class="card-content">
      <span class="label label-info">
        <%= product.category.name %>
      </span>
      <h4 class="card-title">
        <%= link_to product.title, product_path(product) %>
        <span id="favorites-<%= product.id %>">
          <%= render "products/favorites", product: product %>
        </span>
      </h4>
      <p class="card-description">
        <%= render_product_description(product) %>
      </p>
      <div class="footer">
        <div class="author">
          <a href="https://mp.weixin.qq.com/s?__biz=MzI0NzE2ODc1Nw==&mid=2650228271&idx=1&sn=6533b0a90b06bffe31ccdd64f97abdcb&chksm=f1b7cdb5c6c044a368199179c740ef595e0e1bba16013d8acf100ad217b346a71e93b1174a0c#rd">
            <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffzyl45ci0j301o01o3yg.jpg" alt="千古刘传" class="avatar img-raised">
            <span>千古刘传</span>
          </a>
        </div>
        <div class="price">
          <small>￥</small>
          <%= render_price(product.price) %>
        </div>
      </div>
    </div>
  </div>
</div>
