<div class="main my-content-raised">
  <div class="container">
    <div class="product-header">
      <div class="row">
        <%= form_for "", url: products_path , method: :get, class: "search-form" do |f| %>
        <div class="col-md-6">
          <div class="input-group search-box">
            <%= f.text_field "", name: "query", value: params[:query], class: "form-control", placeholder: "颠覆认知的课程正在等你..." %>
            <div class="input-group-btn">
              <button class="btn btn-raised btn-white" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
          <div class="btn-group pull-right">
            <%= f.button(fa_icon("th-large"), name: "view", value: "grid", class: "btn btn-raised btn-white #{params[:view] == "grid" ? "disabled" : ""}") %>
            <%= f.button(fa_icon("th-list"), name: "view", value: "list", class: "btn btn-raised btn-white #{params[:view] == "list" ? "disabled" : ""}") %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <hr/>
    <div class="product-list">
      <% if params[:view] == 'grid' %>
      <%= render partial: "grid_product", collection: @products, as: :product %>
      <% elsif params[:view] == 'list' %>
      <%= render partial: "list_product", collection: @products, as: :product %>
      <% end %>
    </div>

    <!-- product kit  -->

    <div class="product-list">
      <div class="row">

        <div class="col-sm-6 col-md-6 col-md-4 col-lg-4">
          <div class="card card-blog card-atv">
            <div class="card-image">
              <a href="#pablo">
                <div class="atvImg" id="atvImg__0" style="height: 220.266px; transform: perspective(990px);">
                  <div class="atvImg-container">
                    <div class="atvImg-shadow"></div>
                    <div class="atvImg-layers">
                      <div class="atvImg-rendered-layer" data-layer="0" style="background-image: url(&quot;assets/img/examples/card-blog6.jpg &quot;);"></div>
                    </div>
                    <div class="atvImg-shine"></div>
                  </div>
                </div>
              </a>
              <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog6.jpg &quot;); opacity: 1;"></div>
              <div class="ripple-container"></div>
            </div>

            <div class="card-content">
              <span class="label label-info">自我成长</span>
              <h4 class="card-title" style="margin-top:6px;">
                <a href="#pablo">5 Common Legal Mistakes That Can Trip-Up Your Startup</a>
              </h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <div class="footer">
                <div class="author">
                  <a href="#pablo">
                    <img src="http://odau7u92l.bkt.clouddn.com/%E6%9D%8E%E7%AC%91%E6%9D%A5.jpg" alt="..." class="avatar img-raised">
                    <span>Mike John</span>
                  </a>
                </div>
                <div class="price">
                  ¥1990
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-md-4 col-lg-4">
          <div class="card card-blog card-atv">
            <div class="card-image">
              <a href="#pablo">
                <div class="atvImg" id="atvImg__0" style="height: 220.266px; transform: perspective(990px);">
                  <div class="atvImg-container">
                    <div class="atvImg-shadow"></div>
                    <div class="atvImg-layers">
                      <div class="atvImg-rendered-layer" data-layer="0" style="background-image: url(&quot;assets/img/examples/card-blog6.jpg &quot;);"></div>
                    </div>
                    <div class="atvImg-shine"></div>
                  </div>
                </div>
              </a>
              <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog6.jpg &quot;); opacity: 1;"></div>
              <div class="ripple-container"></div>
            </div>

            <div class="card-content">
              <span class="label label-info">自我成长</span>
              <h4 class="card-title" style="margin-top:6px;">
                <a href="#pablo">5 Common Legal Mistakes That Can Trip-Up Your Startup</a>
              </h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <div class="footer">
                <div class="author">
                  <a href="#pablo">
                    <img src="http://odau7u92l.bkt.clouddn.com/%E6%9D%8E%E7%AC%91%E6%9D%A5.jpg" alt="..." class="avatar img-raised">
                    <span>Mike John</span>
                  </a>
                </div>
                <div class="price">
                  ¥1990
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-md-4 col-lg-4">
          <div class="card card-blog card-atv">
            <div class="card-image">
              <a href="#pablo">
                <div class="atvImg" id="atvImg__0" style="height: 220.266px; transform: perspective(990px);">
                  <div class="atvImg-container">
                    <div class="atvImg-shadow"></div>
                    <div class="atvImg-layers">
                      <div class="atvImg-rendered-layer" data-layer="0" style="background-image: url(&quot;assets/img/examples/card-blog6.jpg &quot;);"></div>
                    </div>
                    <div class="atvImg-shine"></div>
                  </div>
                </div>
              </a>
              <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog6.jpg &quot;); opacity: 1;"></div>
              <div class="ripple-container"></div>
            </div>

            <div class="card-content">
              <span class="label label-info">自我成长</span>
              <h4 class="card-title" style="margin-top:6px;">
                <a href="#pablo">5 Common Legal Mistakes That Can Trip-Up Your Startup</a>
              </h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <div class="footer">
                <div class="author">
                  <a href="#pablo">
                    <img src="http://odau7u92l.bkt.clouddn.com/%E6%9D%8E%E7%AC%91%E6%9D%A5.jpg" alt="..." class="avatar img-raised">
                    <span>Mike John</span>
                  </a>
                </div>
                <div class="price">
                  ¥1990
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
