<div class="container product-detail">
  <div class="row">
    <%= render "header" %>
    <div class="col-md-6">
      <%= render_product_detail_image(@product) %>
    </div>
    <div class="col-md-6 product-info">
      <h2 class="product-title"> <%= @product.title %> </h2>
      <div style="height:100px;">
        <p class="product-description">
          <%= @product.description %>
        </p>
      </div>
      <h4 class="product-price"><small>￥</small> <%= render_price(@product.price) %></h4>
      <div class="product-quantity"> 库存 : <%= @product.quantity %></div>
      <br/>
      <%= simple_form_for @product, id: "add-to-cart", method: :post, remote: true, url: add_to_cart_product_path(@product) do |f| %>
        <div class="quantity">
          <%= link_to(fa_icon("minus"), "", onclick: "decrease_quantity()", id: "quantity-minus", class: "disabled") %>
          <%= f.input_field "", name: "quantity", value: '1', as: :integer, class: "quantity-input" %>
          <%= link_to(fa_icon("plus"), "", onclick: "increase_quantity()", id: "quantity-plus") %>
        </div>
        <div class="pull-right">
          <%= f.button :button, type: "submit", class: "btn btn-primary btn-lg btn-danger" do %>
            <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
