<div class="product-page">
  <div class="wrapper background-blue">
    <div class="header">

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="product-image">
              <a href="https://mp.weixin.qq.com/s?__biz=MzI0NzE2ODc1Nw==&mid=2650228271&idx=1&sn=6533b0a90b06bffe31ccdd64f97abdcb&chksm=f1b7cdb5c6c044a368199179c740ef595e0e1bba16013d8acf100ad217b346a71e93b1174a0c#rd" target="_blank">
                <%= render_product_image_origin(@product) %>
              </a>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="pay-area">
              <div class="text-center">
                <h1 itemprop="name" class="product-name">
                  <%= @product.title %>
                </h1>

                <h5 class="tagline">
                  <%= @product.description %>
                </h5>

                <h4 class="product-price">
                  <small>￥</small>
                  <%= render_price(@product.price) %>
                </h4>

                <div class="tagline">
                  本期剩余名额 :
                  <span id="product-quantity">
                    <%= @product.quantity == 0 ? '已报满' : @product.quantity %>
                  </span>
                </div>

                <%= simple_form_for @product, method: :post, remote: true, url: operations_product_path(@product) do |f| %>
                  <div class="row">
                    <%= link_to(mi.remove, "", id: "quantity-minus", class: "quantity-minus btn btn-white btn-sm btn-simple disabled") %>
                    <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
                    <%= link_to(mi.add, "", id: "quantity-plus", class: "quantity-plus btn btn-white btn-sm btn-simple #{@product.quantity <= 1 ? 'disabled' : ''}") %>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane active">
                      <button type="submit" name="commit" value="add_to_cart" class="btn-product-option btn btn-warning btn-wd btn-round <%= @product.quantity == 0 ? 'disabled' : '' %>">
                        <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
                      </button>
                      <button type="submit" name="commit" value="order_now" class="btn-product-option btn btn-danger btn-wd btn-round <%= @product.quantity == 0 ? 'disabled' : '' %>">
                        立刻下单
                      </button>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-page">
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="section section-basic">
            <div class="row">
              <div class="profile-tabs">
                <div class="nav-align-center">
                  <ul class="nav nav-pills nav-pills-info" role="tablist">

                    <li class="active">
                      <a href="#intro" role="tab" data-toggle="tab">
                        <i class="material-icons">dashboard</i>
                        介绍
                      </a>
                    </li>
                    <li>
                      <a href="#catalog" role="tab" data-toggle="tab">
                        <i class="material-icons">schedule</i>
                        目录
                      </a>
                    </li>
                    <li>
                      <a href="#teacher" role="tab" data-toggle="tab">
                        <i class="material-icons">list</i>
                        讲师
                      </a>
                    </li>
                  </ul>

                  <div class="tab-content gallery">
                    <div class="tab-pane active" id="intro">
                      <div class="section">
                        <div class="container ">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-left">
                              <h2><%= @product.title %></h2>
                              <h4 style="letter-spacing:2px;line-height:26px"><%= @product.description %></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="catalog">
                      <div class="section">
                        <div class="container ">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-left">
                              <h2>Completed with examples</h2>
                              <h4 style="letter-spacing:2px;line-height:26px">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="teacher">

                      <div class="row">
                        <div class="profile" style="margin-top: 100px;">
                          <div class="avatar">
                            <img src="http://ooz9ucbbf.bkt.clouddn.com/%E6%88%91%EF%BC%88%E6%AD%A3%E6%96%B9%E5%BD%A2%EF%BC%892.jpg" alt="千古流传" class="img-circle img-responsive img-raised">
                          </div>
                          <div class="name">
                            <h3 class="title">千古刘传</h3>
                            <h6>Designer</h6>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-left">
                          <h5 style="letter-spacing:2px;line-height:26px">创业者，3年营销策划，脑洞文案。玩过乐队写过歌。跆拳道黑带一段|教练，健身成瘾者。追求认知升级，自创认知学习法。创业，为了财富自由。写字，为了思想自由。健身，为了身体自由。以上，写于离开疯人院前_(:3 」∠)_</h5>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
