<body class="product-page">

  <div itemscope itemtype="http://schema.org/Product">
    <div id="productPage" class="parallax parallax-product parallax-" data-no-turbolink style="background: url('http://ooz9ucbbf.bkt.clouddn.com/product%20background.jpg')no-repeat;background-size: cover; ">

      <div class="container">
        <div class="row" style="margin-top: 100px;margin-bottom:200px">
          <div class="col-sm-6 col-md-6">
            <div class="product-image">
              <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html" target="_blank">
                <img src="http://68.media.tumblr.com/40b4d52448eaea2a125a108b7670dbb4/tumblr_ns1ua2dmYM1t7cmmpo1_1280.png">
              </a>
            </div>

          </div>
          <div class="col-sm-6 col-md-5 col-md-offset-1">
            <div class="pay-area">

              <div class="text-center">
                <h1 itemprop="name" class="product-name">
                  <%= @product.title %>
                </h1>
                <h5 class="tagline">
                  <%= @product.description %>
                </h5>

                <!--评分表单，暂时没用上
           <div class="rating-stars">
            <input type="number" class="rating" data-min="1" data-max="5" value="5" disabled="disabled">
            <div class="aggregate-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" data-no-turbolink>
              &middot;
              <span itemprop="ratingValue">4.90</span>/5

              <a href="/product/material-kit-pro/reviews">(<span itemprop="reviewCount">139</span>
                Reviews)</a>
              </div> -->

                <h4 class="product-price">
                  <small>￥</small>
                  <%= render_price(@product.price) %></h4>

                <div class="tagline">
                    本期剩余名额 :
                    <%= @product.quantity %>

                    <%= simple_form_for @product, id: "add-to-cart", method: :post, remote: true, url: add_to_cart_product_path(@product) do |f| %>
                    <div class="quantity">
                      <%= link_to(fa_icon("minus"), "", id: "quantity-minus", class: "quantity-minus disabled") %>
                      <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
                      <%= link_to(fa_icon("plus"), "", id: "quantity-plus", class: "quantity-plus #{@product.quantity <= 1 ? 'disabled' : ''}") %>
                    </div>

                  </div>

                <div class="tab-content">

                  <div class="tab-pane active">
                    <a class="btn btn-new btn-neutral btn-fill btn-wd btn-round btn-danger">
                      立刻下单
                    </a>
                    <%= f.button :button, type: :submit, id: "add-to-cart", disabled: @product.quantity == 0,
                  class: "btn btn-new btn-wd btn-neutral btn-round btn-warning #{@product.quantity == 0 ? 'disabled' : ''}" do %>
                    <%= mi.add_shopping_cart %>加入购物车
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="main main-raised product-detail">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= render_product_detail_image(@product) %>
        </div>
        <div class="col-md-6 product-info">
          <h2 class="product-title">
            <%= @product.title %>
          </h2>
          <div style="height:100px;">
            <p class="product-description">
              <%= @product.description %>
            </p>
          </div>
          <h4 class="product-price">
            <small>￥</small>
            <%= render_price(@product.price) %></h4>
          <div class="product-quantity">
            库存 :
            <%= @product.quantity %></div>
          <br/>
          <%= simple_form_for @product, id: "add-to-cart", method: :post, remote: true, url: add_to_cart_product_path(@product) do |f| %>
          <div class="quantity">
            <%= link_to(fa_icon("minus"), "", id: "quantity-minus", class: "quantity-minus disabled") %>
            <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
            <%= link_to(fa_icon("plus"), "", id: "quantity-plus", class: "quantity-plus #{@product.quantity <= 1 ? 'disabled' : ''}") %>
          </div>
          <div class="pull-right">
            <%= f.button :button, type: :submit, id: "add-to-cart", disabled: @product.quantity == 0,
          class: "btn btn-raised btn-primary btn-lg btn-danger #{@product.quantity == 0 ? 'disabled' : ''}" do %>
            <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</body>
