
  <div id="productPage" class="parallax parallax-product parallax-" data-no-turbolink style="background: url('https://s3.amazonaws.com/creativetim_bucket/products/46/mk_pro_cover.jpg?1466002372')no-repeat;background-size: cover;margin-top:70px; ">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="product-image">
            <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html" target="_blank">
              <img src="https://s3.amazonaws.com/creativetim_bucket/products/46/original/opt_mkp_thumbnail.jpg?1466002372" alt="Material Kit Pro Image"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-md-offset-1">
          <div class="pay-area">

            <div class="text-center">
              <h1 itemprop="name" class="product-name">Material Kit Pro</h1>
              <h6 class="tagline">Premium Bootstrap UI Kit</h6>

              <div class="rating-stars">
                <input type="number" class="rating" data-min="1" data-max="5" value="5" disabled="disabled">
                <div class="aggregate-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" data-no-turbolink>
                  &middot;
                  <span itemprop="ratingValue">4.90</span>/5

                  <a href="/product/material-kit-pro/reviews">(<span itemprop="reviewCount">139</span>
                    Reviews)</a>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="choose-license">
                <p class="pull-left">License
                  <a class="btn btn-round btn-xs btn-neutral pull-right" href="/license" rel="tooltip" title="Something unclear regarding the licenses? Click on the '?' and see more details." target="_blank">
                    <i class=" fa fa-question"></i>
                  </a>
                </p>

                <ul class="nav nav-pills pull-right">
                  <li class="active">
                    <a href="#personal" data-toggle="tab">Personal</a>
                  </li>
                  <li>
                    <a href="#developer" data-toggle="tab">Developer</a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>

              <div class="tab-content" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                <meta content="79.00" itemprop="price">
                <meta content="USD" itemprop="priceCurrency">
                <meta content="instock" itemprop="availability">

                <div class="tab-pane active" id="personal">

                  <a href="/buy/material-kit-pro?license=1&affiliate_id=87385" class="btn btn-new btn-neutral btn-fill btn-wd btn-round">
                    Buy now &middot;<b>
                      $79
                    </b>
                  </a>

                  <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html" class="hidden-xs btn btn-new btn-wd btn-neutral btn-round" target="_blank">
                    Live Preview
                  </a>

                  <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html" class="hidden-sm hidden-md hidden-lg btn btn-new btn-wd btn-neutral btn-round" target="_blank">
                    Live Preview
                  </a>
                </div>

                <div class="tab-pane" id="developer">

                  <a href="/buy/material-kit-pro?license=2&affiliate_id=87385" class="btn btn-new btn-neutral btn-fill btn-wd btn-round">
                    Buy now &middot;
                    <b>
                      $319
                    </b>
                  </a>

                  <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html" class="btn btn-new btn-wd btn-neutral btn-round" target="_blank">
                    Live Preview
                  </a>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div class="my-content main product-detail">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= render_product_detail_image(@product) %>
        </div>
        <div class="col-md-6 product-info">
          <h2 class="product-title">
            <%= @product.title %>
          </h2>
          <div style="height:100px;">
            <p class="product-description">
              <%= @product.description %>
            </p>
          </div>
          <h4 class="product-price">
            <small>￥</small>
            <%= render_price(@product.price) %></h4>
          <div class="product-quantity">
            库存 :
            <%= @product.quantity %></div>
          <br/>
          <%= simple_form_for @product, id: "add-to-cart", method: :post, remote: true, url: add_to_cart_product_path(@product) do |f| %>
          <div class="quantity">
            <%= link_to(fa_icon("minus"), "", id: "quantity-minus", class: "quantity-minus disabled") %>
            <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
            <%= link_to(fa_icon("plus"), "", id: "quantity-plus", class: "quantity-plus #{@product.quantity <= 1 ? 'disabled' : ''}") %>
          </div>
          <div class="pull-right">
            <%= f.button :button, type: :submit, id: "add-to-cart", disabled: @product.quantity == 0,
          class: "btn btn-raised btn-primary btn-lg btn-danger #{@product.quantity == 0 ? 'disabled' : ''}" do %>
            <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
