<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">JDstore 后台</a>
  </div>

  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user" aria-hidden="true"></i>
          <%= current_user.email %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to(fa_icon("arrow-left", text: " 回到前台"), products_path) %></li>
          <li class="divider"></li>
          <li><%= link_to(fa_icon("sign-out", text: " 退出"), destroy_user_session_path, method: :delete) %></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav side-nav">
      <li class="<%= params[:controller]=='admin/orders' ? 'active' : '' %>">
        <%= link_to(admin_orders_path) do %>
          <i class="fa fa-fw fa-address-card"></i> 订单列表
        <% end %>
      </li>
      <li class="<%= params[:controller]=='admin/categories' ? 'active' : '' %>">
        <%= link_to(admin_categories_path) do %>
          <i class="fa fa-fw fa-columns"></i> 商品分类
        <% end %>
      </li>
      <li class="<%= params[:controller]=='admin/products' ? 'active' : '' %>">
        <%= link_to(admin_products_path) do %>
          <i class="fa fa-fw fa-table"></i> 商品列表
        <% end %>
      </li>
      <li class="<%= params[:controller]=='admin/users' ? 'active' : '' %>">
        <%= link_to(admin_users_path) do %>
          <i class="fa fa-fw fa-users"></i> 用户列表
        <% end %>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
