<a href="<%= carts_path %>" class="dropdown-toggle">
  <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
  <span class="badge text-info">
    <%= current_cart.cart_items_count %>
  </span>
</a>
<div class="dropdown-menu cart-nav-content">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="blue">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <br/>
    <div class="card-content">
      <% @cart_items = current_cart.get_items %>
      <% if @cart_items.present? %>
        <div class="table-responsive">
          <table class="table table-shopping">
            <tbody>
              <% @cart_items.each_with_index do |item, index| %>
                <%= render partial: "common/cart_item", locals: { item: item, index: index } %>
              <% end %>
              <!-- 删除选中课程和总价 -->
              <tr>
                <td class="td-number">
                  共<span class="text-info"> <%= current_cart.cart_items_count %> </span>门课程
                </td>
                <td class="td-total">
                  Total
                </td>
                <td colspan="2" class="td-price">
                  <small class="text-info">¥</small>
                  <span class="text-info">
                    <%= render_price(current_cart.total_price) %>
                  </span>
                </td>
              </tr>
              <!-- 结算按钮 -->
              <tr>
                <td colspan="4" class="td-number">
                  <%= link_to checkout_cart_path(current_cart, item_ids: @cart_items.ids.map(&:to_s)),
                  class: "btn-checkout btn btn-raised btn-info btn-round btn-sm" do %>
                    去结算
                    <i class="material-icons">keyboard_arrow_right</i>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% else %>
      <div class="cart-empty">
        <h6>
          <%= fa_icon("shopping-cart fa-lg", text: "购物车空空如也！~") %>
        </h6>
      </div>
      <% end %>
    </div>
  </div>
</div>
