<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore 后台</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render "common/admin_navbar" %>
    <div class="admin-content">
      <div class="container-fluid">
        <div class="row">
          <%= render "common/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
